body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}

h1 {
  margin-top: 20px;
}

.hidden {
  display: none;
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: #22c55e;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}

#playersArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px;
}

.playerCard {
  background: #1e293b;
  padding: 10px;
  border-radius: 10px;
}

.cards {
  font-size: 22px;
  margin: 10px 0;
}

.turnBox {
  background: #334155;
  padding: 15px;
  margin: 15px auto;
  width: 300px;
  border-radius: 10px;
}
